<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>

<%= form_tag items_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], :class => "hallo", :id => "Hallo" %>
    <%= submit_tag "Zoeken", :name => nil %>
  </p>
<% end %>


<% @items.each do |item| %>
	<div class="item">
		<%= item.title %>
		<%= image_tag(item.portfolio_image_url(:thumb)) if item.portfolio_image? %>

		<% item.categories.each do |category| %>
			<%= category.title %>
		<% end %>
	</div>
	
<% end %>